
button:active {
  background-color:#585958 ;
}

@media only screen and (min-width: 480px) {

input[type="text"] {
    padding:1em 0 1em 0;
  }

.Page-Header {
  font-size: 11.5em;
  letter-spacing: .05em;
}

.warning-text {
  font-size: 1.35em;
  }
}

