
button:active {
  background-color:#585958 ;
}

@media only screen and (min-width: 480px) {

.Page-Header {
  font-size: 1.5em;
  letter-spacing: .05em;
}

.warning-text {
  font-size: 1.35em;
  }
}

